.card {
    width: 400px;
    background-color: var(--branco);
    color: var(--preto);
    border-radius: 16px;
    padding: 8px;
    overflow: hidden;
    font-family: var(--base);
    text-overflow: ellipsis;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.card:hover{
    transform: scale(1.01);
    transition: transform 0.2s ease;
}

.cardImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.cardInfo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    padding: 16px;
}

.cardTexto {
    flex: 1;
}

.titulo {
    font-size: var(--P);
    font-weight: 700;
    margin: 0 0 6px 0;
    color: var(--preto);
}

.descricao {
    font-size: var(--PP);
    line-height: 1.4;
    color: var(--cinza);
    margin: 0;
}

.cardIcones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
}

.iconBtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 24px;
    height: 24px;
    color: var(--preto);
    transition: color 0.2s ease, transform 0.2s ease;
}

.icon path,
.iconFavorito path,
.iconSalvo path{
    stroke-width: 2.5;
}

.iconBtn:hover .icon {
    transform: scale(1.1);
}


.iconSalvo {
    width: 24px;
    height: 24px;
    color: var(--primaria-escura);
    animation: popSalvo 0.35s ease;
}

@keyframes popSalvo {
    0% { transform: scale(0.6); }
    50% { transform: scale(1.35); }
    100% { transform: scale(1); }
}


.iconFavorito {
    width: 20px;
    height: 20px;
    color: var(--primaria);
    transition: transform 0.2s ease;
}