.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding: 16px 24px;
    border-radius: 32px;
    border: 2px solid var(--cinza-claro);
    background-color: var(--branco);
    width: fit-content;
}

.container h1{
    font-family: var(--base);
    font-size: var(--P);
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--preto);
}

.containerCards{
    display: flex;
    flex-direction: column;
    max-width: 380px;
    gap: 16px;
}

.linha{
    border: 1px solid var(--cinza-claro);
    height: 0px;
}

.btnVerTodos{
    font-family: var(--base);
    font-size: var(--PP);
    font-weight: 500;
    text-align: start;
    background-color: transparent;
    color: var(--cinza);
    border: none;
    transition: .2s ease;
    cursor: pointer;
}

.btnVerTodos:hover{
    color: var(--primaria);
}

@media (max-width: 1440px){
    .container{
        padding: 16px 24px;
    }

    .linha{
        margin: 4px;
    }
}