.container{
    font-family: var(--base);
    display: flex;
    gap: 8px;
    max-width: 380px;
    min-width: 280px;
    justify-content: space-between;
}

.info{
    flex-direction: column;
    gap: 0px;
}

.nomeLinha{
    display: flex;
    align-items: center;
    gap: 4px;
}

.badgeVerificado{
    width: 18px;
    height: 18px;
}

.nome{
    font-weight: 500;
    color: var(--preto);
}

.username{
    color: var(--cinza);
}

.avatarDefault{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 999px;
    border: 2px solid;
    color: var(--primaria);
}

.avatar{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 999px;
}

.btnSeguir{
    width: 36px;
    height: 36px;
    border-radius: 999px;
    background-color: var(--verde);
    color: var(--preto);
    border: 2px solid var(--preto);
    filter: drop-shadow(0px 4px var(--preto));
    cursor: pointer;
    transition: .1s ease;
}

.btnSeguir.ativo{
    background-color: var(--cinza);
    transform: translateY(4px);
    filter: drop-shadow(0px 0px var(--preto));
}