.page{
    background-color: var(--branco);
    height: 100vh;
}

.container{
    padding: 1.5rem 2rem;
    color: var(--preto);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.titulo h1{
    font-size: var(--G);
}

.quantidade {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaria);
    color: var(--branco);
    font-size: var(--P);
    font-weight: 500;
    border-radius: 999px;
}

.filtros {
    display: flex;
    gap: 10px;
    align-self: flex-start;
    flex-wrap: wrap;
    padding: 6px;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.035);
}

.filtros > button {
    padding: 4px 16px !important;
}

.notificacoes{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.btnMarcarTodas{
    margin-left: auto;
    padding: 4px 8px;
    border-radius: 999px;
    background-color: var(--branco);
    border: none;
    color: var(--primaria-escura);
    font-family: var(--base);
    font-size: var(--PP);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    gap: 4px;
    align-items: center;
    transition: all .2s ease;
}

.btnMarcarTodas:hover{
    filter: brightness(0.97);
}

.icon path{
    stroke-width: 2.5px;
}

.mensagemVazia{
    text-align: center;
    color: var(--cinza);
    font-size: var(--P);
    padding: 3rem 0;
}